/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

body {
  position: relative;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #1a2940 -29.09%,
    #23334a 51.77%,
    #2c3d57 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  color: white !important;
}

.aircraft-display-card {
  background: #16263d;
  padding: 10px;
  padding-bottom: 2px;
  border-radius: 5px;
  align-items: left;
  width: 287px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Courier Prime', monospace;
}
.aircraft-display-name {
  width: 83px;
  float: left;
}
.aircraft-display-deg-runway {
  width: 83px;
  float: left;
}
.aircraft-display-672-alt {
  float: left !important;
}
.aircraft-display-model {
  width: 83px;
  float: left;
}
.aircraft-display-dest {
  width: 83px;
  float: left;
}
.aircraft-display-icon-wrapper {
  width: 100px;
  float: left;
}
.aircraft-display-icon {
  position: relative;
  top: 3px;
}
.lower-card {
  margin-top: -15px;
}
.aircraft-list-wrapper {
  width: 350px;
  height: 490px;
  overflow-y: scroll;
  float: right;
}

.control-panel {
  background: #16263d;
  border-radius: 5px;
  height: 490px;
  width: 500px;
  font-family: 'Courier Prime', monospace;
  padding: 10px;
}
.log {
  width: 100%;
  background-color: #23334a;
  height: 435px;
  overflow: scroll;
  padding: 5px;
} 
.control-input {
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #23334a;
  padding-left: 5px;
}
.control-input:focus {
  outline: none;
}
.header {
  text-align: center;
}

/* MODAL */

.ant-modal-header {
  background-color: #1F1F1F !important;
  border-bottom: 1px solid #303030 !important;
  font-family: 'Paytone One', sans-serif !important;
}
.ant-modal-title, .ant-modal-close {
  color: #DEDEDE !important;
}
.ant-modal-footer {
  background-color: #1F1F1F !important;
  border-top: 1px solid #303030 !important;
}
.ant-modal-footer .ant-btn {
  color: #DEDEDE !important;
}
.ant-tabs-tab-btn {
  margin-top: 15px !important;
  color: #dedede !important;
}
.ant-modal-body {
  max-height: 400px !important;
  overflow-y: scroll !important;
}
pre {
  background-color: rgba(255,255,255,.075);
  padding-left: 5px;
  border-radius: 3px;
}
.help-runway-list {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}